extends layout

block content
  h2= title
  form(action="/albums", method="POST")
    label(for="titulo") Título
    input#titulo(type="text", name="titulo", placeholder="Nombre del álbum", required)
    button(type="submit") Crear Álbum
