extends layout

block content
  h1= title

  form(method='POST', action=`/images/${imagen.id}/compartir`)
    div
      label(for='usuarioDestinoId') Compartir con:
      select(name="usuarioDestinoId" required)
        each u in usuarios
          option(value=u.id)= u.nombre
    button(type='submit') Compartir imagen

  hr
  a(href=`/images/${imagen.id}`) ← Volver a la imagen

