extends layout

block content
  h1= title

  
  form(action="/friend" method="POST")
    div
      label(for="paraId") Selecciona un usuario:
      select#paraId(name="paraId" required)
        option(value="") -- Selecciona un usuario --
        each user in usuarios
          option(value=user.id)= user.nombre
    button(type="submit") Enviar solicitud

  a(href="/friend") ← Volver a solicitudes recibidas

