extends layout

block content
  h2 Listado de Imágenes
  if imagenes.length
    ul
      each img in imagenes
        li
          img(src=`/imagenes/${img.ruta}`, width="100")
          |  #{img.descripcion || 'Sin descripción'}
  else
    p No hay imágenes para mostrar.
