// views/imagen-list.pug
extends layout

block content
  h2= title
  if imagenes.length
    ul
      each img in imagenes
        li
          img(src=`/imagenes/${img.ruta}`, width="150")
          if img.caption
            p= img.caption
  else
    p Aún no hay imágenes.
