extends layout

block content
  .container
    h1.title Artesanos.com
    p.subtitle El espacio para que los artesanos compartan sus creaciones .

    
    .buttons
      a.button(href="/registro") Registrarse
      a.button(href="/login")   Iniciar Sesión

    hr

    
    h2.subsection Funcionalidades disponibles
    ul.features
      li 
        a(href="/albums") Álbumes
      li
        a(href="/images") Imágenes
      li 
        a(href="/usuarios") Usuarios

    hr

    
