extends layout


block content
  .container
    h1.display-4 Artesanos.com
    p.lead Bienvenido a Artesanos.com, el espacio perfecto para que artesanos como tú compartan sus creaciones y encuentren inspiración.

    .btn-container
      a.btn.btn-primary(href='/registro') Registrarse
      a.btn.btn-secondary(href='/login')    Iniciar sesión



    