extends layout


block content
  h1 Artesanos.com
  p El espacio para que los artesanos compartan sus creaciones.

  if !usuario
    div.btn-container
      a.btn(href='/registro') Registrarse
    div.btn-container
      a.btn(href='/login') Iniciar sesión
  else
    a.btn(href='/muro') Ir a mi muro
    