doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Artesanos · #{title || 'Mi aplicación'}
   
    script.
      window.CURRENT_USER_ID = !{JSON.stringify(usuarioId)};
    link(rel="stylesheet", href="/css/style.css")
  body
    
    nav.navbar
      if usuarioId
        a.notif-icon(href="/friend")
          | 🔔 
          span#notif-count.badge #{pendingRequests || 0}

    
    block content

    
    script(src="/socket.io/socket.io.js")
    script(src="/notificaciones.js")

    
