doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      nav
        a(href="/registro") Registro
        a(href="/login") Login
        if session && session.usuario
          a(href="/logout") Logout
    main
      block content
