doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    
    
        
    main 
      block content
    footer
      p © 2025 Artesanos.com. Todos los derechos reservados.

    script(src="/js/script.js")