doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      nav.navbar 
       a.nav-logo(href="/") Artesanos.com
        ul.nav-links
          li: a(href="/") Home
          li: a(href="/albums") Álbumes
          li: a(href="/images") Imágenes
          li: a(href="/usuarios") Usuarios
          li: a(href="/login") Login
          li: a(href="/registro") Registro

    main
      block content
