extends layout

block content
  
 


  h1= title
  p Bienvenido/a, #{usuarioNombre}!

  .menu-acciones
    a.btn(href="/albums/new") Crear nuevo álbum
    a.btn(href="/images/new") Subir imagen
    a.btn(href="/images/compartidas") Imágenes compartidas
    a.btn(href="/friend")
      | Solicitudes recibidas
      span#notif-count.badge 0

    a.btn(href="/friends") Solicitudes recibidas

    a.btn(href="/friend/new") Enviar solicitud de amistad
    a.btn(href="/friend/enviadas") Solicitudes enviadas
    a.btn(href="/friend/list") Mis amigos
    a.btn(href="/perfil") Mi perfil
    a.btn(href="/logout") Cerrar 


  hr

  if albums.length
    h2 Mis álbumes
    ul
      each alb in albums
        li= alb.titulo

  if imagenes.length
    h2 Mis imágenes
    ul
      each img in imagenes
        li
          img(src=img.ruta, width="80")
  else
    p Aún no tienes contenido en tu muro.
