extends layout

block content
  h1= title
  if error
    p(style="color:red") #{error}
  form(action="/perfil/password" method="POST")
    label Nueva contraseña:
    input(type="password" name="passwordNueva" required)
    button(type="submit") Cambiar contraseña
  a(href="/perfil") Volver al perfil
