extends layout

block content
  h1 Cambiar Contrase単a

  form(action="/perfil/password" method="POST")
    label Contrase単a actual:
    input(type="password" name="actual" required)
    br

    label Nueva contrase単a:
    input(type="password" name="nueva" required)
    br

    button(type="submit") Cambiar contrase単a
    a.btn(href="/perfil") Cancelar

  if error
    p.error= error

